@using SchoolReports.Web.ViewModels.Student
@model SchoolReports.Web.ViewModels.Student.StudentListingModel


<h5>All students</h5>
<div class="mt-5">
    <a class="btn btn-primary" asp-controller="Student" asp-action="Create">Create new</a>
</div>
<div class="mt-5">
    <table class="table" id="studentListingTable">
        <thead class="thead-light">
            <tr>
                <th class="" scope="col">Name</th>
                <th class="" scope="col">Gender</th>
                <th class="" scope="col">DOB</th>
                <th class="" scope="col">Teaching group</th>
                <th class="" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td class="">
                        @student.FullName
                    </td>
                    <td class="">
                        @student.Gender
                    </td>
                    <td class="">
                        @student.DOB
                    </td>
                    <td class="">
                        @student.TeachingGroup
                    </td>
                    <td class="">
                        <div class="form-group form-inline">
                            <a class="btn btn-primary btn-sm" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                            @* Add delete/unassign button*@
                        </div>
                    </td>
                </tr>
            }

        <tbody>
    </table>
</div>
